{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST"> <!-- HTTP request POST -->
  <h3 align="center">Регистрация</h3>
  <div class="form-group">
    <label for="email">Имейл адрес</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Въведете валиден имейл"
    />
  </div>
  <div class="form-group"> <!--bootstrap class-->
    <label for="firstName">Име</label>
    <input
      type="text"
      class="form-control" 
      id="firstName"
      name="firstName"
      placeholder="Въведете име"
    />
  </div>
  <div class="form-group">
    <label for="password1">Парола</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Въведете парола"
    />
  </div>
  <div class="form-group">
    <label for="password2">Потвърждение на парола</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Повторете парола"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Регистрирай се.</button>
</form>
{% endblock %}
